@import "colors";

.carousel {
  overflow: hidden;
  position:relative;
  
  .button {
    $h: 52px;
    height:$h;
    width: 25px;
    position:absolute;
    top:50%;
    margin-top: $h / -2;
    background: red;
    z-index: 50;
    cursor: pointer;
    display: none;
    background: $main-sprite;
    text-indent: -999em;
  }
  
  .prev {
    left:0;
    background-position: -26px top;
    
    &:hover {
      background-position: -78px top;
    }
  }
  
  .next {
    right: 0;
    background-position: left top;
   
    &:hover {
      background-position: -52px top;
    }    
  }
  
  article {
    float:left;
  }
}