$black: black;
$black80: #333;
$black60: #c2c2c2;
$black40: #e8e8e8;
$black20: #f5f5f5;
$cyan: #1DCAFF;
$pink: #FF58B0;
$lpink: #F9ADCE;
$border-color: #eaeaea;
$main-sprite: url(../images/sprite.png);