#logo {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQIW2NkAAIAAAoAAggA9GkAAAAASUVORK5CYII=) repeat;
}

#header-menu {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#1f1f1f', GradientType=0 );
}

#ranking {
  
  header {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F960B2', endColorstr='#F64398', GradientType=0 );  
  }
}

.search-box {

  .submit {
    filter:none;
    
    &:hover {
      filter:none;
    }
  }	
}


.ie9 {
  .pager {
    
    .button {
  
      a {
        background: #333333;
        
        &:hover {
          background: #1f1f1f;
        }
      }
    }
  }
}

.ie6 {
  #commentlist {
    .comment {
			min-height: 48px;
			height:auto !important;
			height: 48px;
    }
  }
  
  #featured-carousel header h1,
  #footer-carousel article header {
    background: url(../images/ie6-carouselbg-fix.gif) repeat
  }  
  
  #logo {
    background: url(../images/ie6-header-fix.gif) repeat;
  }   
  
  #river-news {
    article {
      min-height: 198px;
      height:auto !important;
      height: 198px;    
    }  
  }
   
}

.oldie {

  /*
  #comment-form,
  .wp-polls-ans {
    
    .submit {
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF58B0',endColorstr='#FF3C95',GradientType=0);
      
      &:hover {
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3C95',endColorstr='#FF58B0',GradientType=0);
      }
    }
  }
  */
  
  #featured-carousel header h1,
  #footer-carousel article header {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2NkYGBIAwAAcABoLkfeMwAAAABJRU5ErkJggg==) repeat;
  }
  
  
 
  .button {

    a {
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#1f1f1f', GradientType=0 );
      
      &:hover {
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f1f', endColorstr='#333333', GradientType=0 );
      }
    }
  }  
}