form {
  
  .submit {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF58B0', endColorstr='#FF3C95',GradientType=0 );
    
    &:hover {
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF3C95', endColorstr='#FF58B0',GradientType=0 );
    }
}

#header-menu {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#1f1f1f',GradientType=0 );
}

#ranking {
  
  header {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F960B2', endColorstr='#F64398',GradientType=0 );  
  }
}

.pager {
  
  .button {

    a {
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#1f1f1f',GradientType=0 );
      
      &:hover {
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f1f', endColorstr='#333333',GradientType=0 );
      }
    }
  }
}