@import "css3";

$black: black;
$black80: #333;
$black60: #c2c2c2;
$black40: #e8e8e8;
$black20: #f5f5f5;
$cyan: #1DCAFF;
$pink: #FF58B0;
$lpink: #F9ADCE;
$border-color: #eaeaea;
article {
	
	.entry-content,
	.entry-content p {
	  font-size: 16px;
	  line-height: 1.3em;
	  color:$black80;
	}
	
	.entry-content p {
	  margin:0;
	}
}

#banner300x250 {
	height: 250px;
	background: white;
	border:solid 1px $border-color;
}

#header-975x75 {
	width: 975px;
	height: 75px;
	margin-bottom: 2px;
}

#header {
	margin-bottom:10px;
	
	&.default {
	  background: url(../images/header-vr.jpg) left top no-repeat;
	}
	
	#logo {
	  height: 190px;
	  display:block;
	  text-indent:-999em;
	  
	  img {
	    width: 990px;
	    height: 190px;
	    display:block;
	  }
	}
}

#header-menu {
	$h: 45px;
	height: $h;
	margin-top:1px;
	overflow: hidden;
	
	ul {
	  height: $h;
	}
	
	li {
	  height: $h;
	  line-height: $h;
	  float:left;
	  padding:0 12.5px;
	  
	  a {
	    color: $lpink;
	    padding:2px;
	    font-family: 'KGSkinnyLatteRegular', Arial;
	    text-transform:uppercase;
	    font-size:20px;
	    
	    &:hover {
	      text-decoration:none;
	      background: $pink;
	      color:white;
	    }
	  }
	}
	
	@include gradient_cross(#333,#1f1f1f);
}

#featured-carousel {
	/*$h:371px;*/
	$w:660px;
	$h:451px;
	$br:8px;
	width: $w;
	height: $h;
	background: black;
	margin-bottom: 30px;
	@include border_radius($br);
	
	article {
    width: $w;
    height: $h;
    overflow: hidden;
    position: relative;
	}
	
  header {
    position:absolute;
    bottom:0;
    width: $w;
    
    a {
      color:white;
      font-family: 'KGSkinnyLatteRegular', Arial;
      text-transform: uppercase;
      font-size: 25px;
      line-height: 25px;
      display:block;
      padding: 4px 15px 4px 15px;
      
      &:hover {
        text-decoration:none;
      }
    }
    
    h1 {
      background: rgba(0,0,0,.4);
      position: relative;
      z-index: 5;
      line-height: 25px;
    }
    
    .dropline {
      height: 54px;
      line-height:1.1em;
      color:white;
      overflow:hidden;
      margin: 13px 15px;
      
	    p {
	      margin:0;
	    }      
    }
  }	
	
	figure {
	  /*$fh: 290px;*/
	  $fh: 371px;
    width: $w;
    height: $fh;
    position:absolute;
    top: 0;
    
    img {
      width: $w;
      height: $fh;
      display:block;
      @include border_radius_top($br);
    }	  
	}
	
	.carousel-wrapper {
	  width: $w;
	  height: $h;	
	}
}

#footer {
	$h: 47px;
	height:$h;
	border-top:solid 1px #e8e8e8;
	text-align:center;

  a {
    color:$cyan;
    
    &:hover {
      text-decoration:underline;
    }
  }

  li {
    height:$h;
    line-height:$h;
    float:left;
  }

	ul,
	#footer-menu {
	  height:$h;
	}
	
}

#footer-carousel {
	$w:450px;
	$h:251px;
	$br:5px;

  width:$w;
  height:$h;
  background: black;
  float:right;
  position:relative;
  @include border_radius($br);
  
  article {
	  width:$w;
	  height:$h;
	  float:left;
	  position:relative;
	  
	  header {
	    position:absolute;
	    bottom:0;
	    height:42px;
	    background: rgba(0,0,0,.4);
	    z-index: 20;
	    width: 100%;
	    overflow:hidden;  
	    
	    h1 {
        padding: 4px 10px 4px 85px;
        height: 34px;
        line-height: 34px;
	    }
	  }
	  
	  a {
	    color:white;
	    display: block;
        height: 34px;
        line-height: 34px;	    
	  }
  }
  
  figure {
    width:$w;
    height:$h;
    position: absolute;
    bottom:0;
    z-index: 10;
    
    img {
      @include border_radius($br);
    }
	}
  
  .carousel-header {
    position:absolute;
    left:0;
    bottom:0;
    background: $pink;
    color:white;
    border-right: solid white 1px;
    font-family: 'KGSkinnyLatteRegular', Arial;
    text-transform: uppercase; 
    padding: 4px;
    height:34px;
    z-index:50;
    
      -webkit-border-bottom-left-radius: $br;
      -moz-border-radius-bottomleft: $br;
      border-bottom-left-radius: $br;       
    
    h2 {
	    font-size: 34px;
	    line-height: 34px;
	    height:34px;
    }
  }
  
  .carousel-wrapper {
	  width:$w;
	  height:$h;  
  }
  
}

#pov {
	overflow: hidden;
	background: $black80;
	padding: 15px;
	@include border_radius(7px);
	
	header {
	  margin-bottom:25px;
	  
	  h2 {
	    color: $pink;
	    font-size: 20px;
	    line-height: 20px;
	  }
	}
	
	a {
	  color:$lpink;
	  font-size: 17px;
	  line-height:17px;
	  
	  &:hover {
	    color:white;
	    background: $pink;
	    text-decoration: none;
	  }
	}
	
	header h2,
	a {
    font-family: 'KGSkinnyLatteRegular', Arial;
    text-transform: uppercase; 	
	}
	
	ul li {
	  width: 50%;
	  float:left;
	  margin-bottom: 10px;
	}
}

#ranking {
	border:solid 1px $border-color;
	width:298px !important;
	@include border_radius(7px);
	
	header {
	  $w:298px;
	  $wl:123px;
	  height: 40px;
	  line-height: 40px;
	  color:black;
	  text-align: center;
	  font-family: 'KGSkinnyLatteRegular', Arial;
	  @include gradient_cross(#F960B2, #F64398);
	  font-size:25px;
	  text-transform:uppercase;
	  color:white;
	  cursor:pointer;
	  
	  .selected {
	    color:black;
	    background: white;
	    cursor:auto;
	  }
	  
	  .prev {
	    float:left;
	    width: 123px;
	  }
	  .next {
	    float:right;
	    width: $w - $wl;
	  }
	}
	
	.item {
	  padding: 8px 15px;
	}
	
	.carousel-wrapper {
	  overflow: hidden;
	  width:298px;
	}
	
  ul {
    display:none;
    width: 320px;
    
    &.first {
      display:block;
    }
  }
	
}

#river-news {
	width: 450px;
	float:right;
	
	article {
	  padding-bottom: 20px;
	  margin-bottom:20px;
	  border-bottom:solid 1px $border-color;
	  position: relative;
    padding-left: 110px;
	  
	  header {
	    padding-top:1px;
	    margin-bottom:5px;
	    
	    .category {
	      line-height:14px;
	      height:20px;
	      margin-bottom:5px;
	      a {
	        text-transform: uppercase;
	        color:white;
	        background: $pink;
	        font-size: 11px;
	        padding: 3px 7px;
	      }
	    }
	    
	    h1 {
	      line-height:25px;
	      a {
	        font-family: 'KGSkinnyLatteRegular', Arial;
	        text-transform: uppercase;
	        color:black;
	        font-size: 25px;
	        text-decoration:none;
	        line-height:25px;
	        
	        &:hover {
	          background: $cyan;
	          
	        }
	      }
	    }
	  }
	  
	  footer {
	    margin-top:5px;
	  }
	  
	  .author,
	  .author a{
	    font-size: 12px;
	    
	  }
	  
	  .hmedia {
	    position:absolute;
	    left:0;
	    top:0;
	    width: 100px;
	    
	    img {
	      @include border_radius(5px);
	    }
	    
	    figure {
	      margin-bottom:10px;
	      a {
		      display:block;
		      width: 100%;
		      height: 100%;
	      }
	    }
	    
	    .comments {
	     background: $lpink;
	     color:white;
	     font-size: 11px;
	     font-style: italic;
	     padding: 2px 5px;
	     @include border_radius(3px);
	     line-height: 14px;
	     height: 14px;
	     display: block;
	     width: 85px;
	    }
	  }
	  
	  .share {
	    position: absolute;
	    left:0;
	    top: 135px;
	    width: 100px;
	  }
	}
}

#sidebar-left {
	width: 180px;
	float:left;
	height: 300px;
	background: blue;
}

#sidebar-right {
	width: 300px;
	float:right;
	height: 500px;
}

.banner {
	margin: 0 auto;
	background: grey;
}

.container {
  width: 660px;
  float:left;
}

footer .only-next .next {
	width: 100%;
}

.pager {
	margin-bottom:30px;
	
	.button {
	  width: 48%;
	  display: block;
	  height: 50px;
	  
	  a {
	    font-size: 35px;
	    display: block;
	    height: 100%;
	    width: 100%;
	    text-align: center;
	    line-height: 50px;
	    color:white;
	    font-family: 'KGSkinnyLatteRegular', Arial;
	    text-transform: uppercase;
	    
	    @include gradient_cross($black80, #1f1f1f);
	    @include border_radius(6px);
	    
	    &:hover {
	      text-decoration: none;
	      @include gradient_cross(#1f1f1f,$black80);
	    }
	  }
	}
	
	.previous {
	  float:left;
	}
	
	.next {
	  float:right;
	}
}

.share {
	
	.item {
	  display:block;
	}
	.fb {
	  width: 90px;
	  height: 20px;
	  position:relative;
	  z-index:50;
	  
	  > div > span {
	    width: 90px;
	    height: 20px;	  
	    display: block;
	    overflow: hidden;
	  }
	  
	  span.fb_edge_comment_widget.fb_iframe_widget{
      width: auto;
      height: auto;
	  } 
	  

  }
	.tw {}
	.gplus {}
}

.sidebar {
	
	#follow-fb {
	  height: 258px;
	}
	
	.block {
	  margin-bottom:20px;
	}
}

.wrapper {
	width: 990px;
	margin: 0 auto; 
}

