@import "css3";

$black: black;
$black80: #333;
$black60: #c2c2c2;
$black40: #e8e8e8;
$black20: #f5f5f5;
$cyan: #1DCAFF;
$pink: #FF58B0;
$lpink: #F9ADCE;
$border-color: #eaeaea;

article {
	
	.entry-content,
	.entry-content p {
	  font-size: 16px;
	  line-height: 1.3em;
	  color:$black80;
	}
	
	.entry-content p {
	  margin:0;
	}
}

#banner300x200 {
	height: 200px;
	background: white;
	border:solid 1px $border-color;
}

#header-975x75 {
	width: 975px;
	height: 75px;
	margin-bottom: 2px;
}

#header {
	margin-bottom:10px;
	
	&.default {
	  background: url(../images/header-vr.jpg) left top no-repeat;
	}
	
	#logo {
	  height: 190px;
	  display:block;
	  text-indent:-999em;
	  
	  img {
	    width: 990px;
	    height: 190px;
	    display:block;
	  }
	}
}

#header-menu {
	$h: 45px;
	height: $h;
	margin-top:1px;
	
	ul {
	  height: $h;
	}
	
	li {
	  height: $h;
	  line-height: $h;
	  float:left;
	  padding:0 12.5px;
	  
	  a {
	    color: $lpink;
	    padding:2px;
	    font-family: 'KGSkinnyLatteRegular', Arial;
	    text-transform:uppercase;
	    font-size:20px;
	    
	    &:hover {
	      text-decoration:none;
	      background: $pink;
	      color:white;
	    }
	  }
	}
	
	@include gradient_cross(#333,#1f1f1f);
}

#featured-carousel {
	width: 660px;
	height: 371px;
	background: black;
	margin-bottom: 30px;
	@include border_radius(8px);
}

#footer {
	$h: 47px;
	height:$h;
	border-top:solid 1px #e8e8e8;
	text-align:center;

  a {
    color:$cyan;
    
    &:hover {
      text-decoration:underline;
    }
  }

  li {
    height:$h;
    line-height:$h;
    float:left;
  }

	ul,
	#footer-menu {
	  height:$h;
	}
	
}

#footer-carousel {
  width: 448px;
  height: 251px;
  background: black;
  border:solid 1px $border-color;
  float:right;
}

#pov {
	
	height: 150px;
	overflow: hidden;
	background: black;
	@include border_radius(7px);
}

#river-news {
	width: 450px;
	float:right;
	
	article {
	  padding-bottom: 20px;
	  margin-bottom:20px;
	  border-bottom:solid 1px $border-color;
	  position: relative;
	  
	  &.has-media {
	    padding-left: 110px;
	  }
	  
	  header {
	    padding-top:1px;
	    margin-bottom:5px;
	    
	    .category {
	      line-height:14px;
	      height:20px;
	      margin-bottom:5px;
	      a {
	        text-transform: uppercase;
	        color:white;
	        background: $pink;
	        font-size: 11px;
	        padding: 3px 7px;
	      }
	    }
	    
	    h1 {
	      height:33px;
	      line-height:33px;
	      a {
	        font-family: 'KGSkinnyLatteRegular', Arial;
	        text-transform: uppercase;
	        color:black;
	        font-size: 25px;
	        text-decoration:none;
	        
	        &:hover {
	          background: $cyan;
	          
	        }
	      }
	    }
	  }
	  
	  footer {
	    margin-top:5px;
	  }
	  
	  .author,
	  .author a{
	    font-size: 12px;
	    
	  }
	  
	  .hmedia {
	    position:absolute;
	    left:0;
	    top:0;
	    width: 100px;
	    
	    img {
	      @include border_radius(5px);
	    }
	    
	    figure {
	      margin-bottom:10px;
	      a {
		      display:block;
		      width: 100%;
		      height: 100%;
	      }
	    }
	    
	    .comments {
	     background: $lpink;
	     color:white;
	     font-size: 11px;
	     font-style: italic;
	     padding: 2px 5px;
	     @include border_radius(3px);
	     line-height: 14px;
	     height: 14px;
	     display: block;
	     width: 85px;
	    }
	  }
	  
	  .share {
	    position: absolute;
	    left:0;
	    top: 135px;
	    width: 100px;
	  }
	}
}

#sidebar-left {
	width: 180px;
	float:left;
	height: 300px;
	background: blue;
}

#sidebar-right {
	width: 300px;
	float:right;
	height: 500px;
	background: red;
}

.banner {
	margin: 0 auto;
	background: grey;
}

.carousel {
	overflow: hidden;
}

.container {
  width: 660px;
  float:left;
}

footer .only-next .next {
	width: 100%;
}

.pager {
	
	.button {
	  width: 48%;
	  display: block;
	  height: 50px;
	  
	  a {
	    font-size: 35px;
	    display: block;
	    height: 100%;
	    width: 100%;
	    text-align: center;
	    line-height: 50px;
	    color:white;
	    font-family: 'KGSkinnyLatteRegular', Arial;
	    text-transform: uppercase;
	    
	    @include gradient_cross($black80, #1f1f1f);
	    @include border_radius(6px);
	    
	    &:hover {
	      text-decoration: none;
	      @include gradient_cross(#1f1f1f,$black80);
	    }
	  }
	}
	
	.previous {
	  float:left;
	}
	
	.next {
	  float:right;
	}
}

.share {
	
	.item {
	  display:block;
	}
	.fb {}
	.tw {}
	.gplus {}
}

.sidebar {
	
	.block {
	  margin-bottom:20px;
	}
}

.wrapper {
	width: 990px;
	margin: 0 auto; 
}

