article .entry-content,
article .entry-content p {
  font-size: 16px;
  line-height: 1.3em;
  color: #333333; }
article .entry-content p {
  margin: 0; }

#banner300x250 {
  height: 250px;
  background: white;
  border: solid 1px #eaeaea; }

#header-975x75 {
  width: 975px;
  height: 75px;
  margin-bottom: 2px; }

#header {
  margin-bottom: 10px; }
  #header.default {
    background: url(../images/header-vr.jpg) left top no-repeat; }
  #header #logo {
    height: 190px;
    display: block;
    text-indent: -999em; }
    #header #logo img {
      width: 990px;
      height: 190px;
      display: block; }

#header-menu {
  height: 45px;
  margin-top: 1px;
  overflow: hidden;
  background: #333333;
  /* Old browsers */
  background: -moz-linear-gradient(top, #333333 0%, #1f1f1f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #1f1f1f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #333333 0%, #1f1f1f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #333333 0%, #1f1f1f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #333333 0%, #1f1f1f 100%);
  /* IE10+ */
  background: linear-gradient(top, #333333 0%, #1f1f1f 100%);
  /* W3C */ }
  #header-menu ul {
    height: 45px; }
  #header-menu li {
    height: 45px;
    line-height: 45px;
    float: left;
    padding: 0 12.5px; }
    #header-menu li a {
      color: #f9adce;
      padding: 2px;
      font-family: 'KGSkinnyLatteRegular', Arial;
      text-transform: uppercase;
      font-size: 20px; }
      #header-menu li a:hover {
        text-decoration: none;
        background: #ff58b0;
        color: white; }

#featured-carousel {
  /*$h:371px;*/
  width: 660px;
  height: 451px;
  background: black;
  margin-bottom: 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  #featured-carousel article {
    width: 660px;
    height: 451px;
    overflow: hidden;
    position: relative; }
  #featured-carousel header {
    position: absolute;
    bottom: 0;
    width: 660px; }
    #featured-carousel header a {
      color: white;
      font-family: 'KGSkinnyLatteRegular', Arial;
      text-transform: uppercase;
      font-size: 25px;
      line-height: 25px;
      display: block;
      padding: 4px 15px 4px 15px; }
      #featured-carousel header a:hover {
        text-decoration: none; }
    #featured-carousel header h1 {
      background: rgba(0, 0, 0, 0.4);
      position: relative;
      z-index: 5;
      line-height: 25px; }
    #featured-carousel header .dropline {
      height: 54px;
      line-height: 1.1em;
      color: white;
      overflow: hidden;
      margin: 13px 15px; }
      #featured-carousel header .dropline p {
        margin: 0; }
  #featured-carousel figure {
    /*$fh: 290px;*/
    width: 660px;
    height: 371px;
    position: absolute;
    top: 0; }
    #featured-carousel figure img {
      width: 660px;
      height: 371px;
      display: block;
      -webkit-border-top-left-radius: 8px;
      -webkit-border-top-right-radius: 8px;
      -moz-border-radius-topleft: 8px;
      -moz-border-radius-topright: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; }
  #featured-carousel .carousel-wrapper {
    width: 660px;
    height: 451px; }

#footer {
  height: 47px;
  border-top: solid 1px #e8e8e8;
  text-align: center; }
  #footer a {
    color: #1dcaff; }
    #footer a:hover {
      text-decoration: underline; }
  #footer li {
    height: 47px;
    line-height: 47px;
    float: left; }
  #footer ul,
  #footer #footer-menu {
    height: 47px; }

#footer-carousel {
  width: 450px;
  height: 251px;
  background: black;
  float: right;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  #footer-carousel article {
    width: 450px;
    height: 251px;
    float: left;
    position: relative; }
    #footer-carousel article header {
      position: absolute;
      bottom: 0;
      height: 42px;
      background: rgba(0, 0, 0, 0.4);
      z-index: 20;
      width: 100%;
      overflow: hidden; }
      #footer-carousel article header h1 {
        padding: 4px 10px 4px 85px;
        height: 34px;
        line-height: 34px; }
    #footer-carousel article a {
      color: white;
      display: block;
      height: 34px;
      line-height: 34px; }
  #footer-carousel figure {
    width: 450px;
    height: 251px;
    position: absolute;
    bottom: 0;
    z-index: 10; }
    #footer-carousel figure img {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; }
  #footer-carousel .carousel-header {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ff58b0;
    color: white;
    border-right: solid white 1px;
    font-family: 'KGSkinnyLatteRegular', Arial;
    text-transform: uppercase;
    padding: 4px;
    height: 34px;
    z-index: 50;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px; }
    #footer-carousel .carousel-header h2 {
      font-size: 34px;
      line-height: 34px;
      height: 34px; }
  #footer-carousel .carousel-wrapper {
    width: 450px;
    height: 251px; }

#pov {
  overflow: hidden;
  background: #333333;
  padding: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  #pov header {
    margin-bottom: 25px;
    height: 20px; }
    #pov header h2 {
      color: #ff58b0;
      font-size: 20px;
      line-height: 20px;
      height: 20px; }
  #pov a {
    color: #f9adce;
    font-size: 17px;
    line-height: 17px; }
    #pov a:hover {
      color: white;
      background: #ff58b0;
      text-decoration: none; }
  #pov a {
    font-family: 'KGSkinnyLatteRegular', Arial;
    text-transform: uppercase; }
  #pov ul li {
    width: 50%;
    float: left;
    margin-bottom: 10px; }

#ranking {
  border: solid 1px #eaeaea;
  width: 298px !important;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-bottom: 10px; }
  #ranking header {
    color: black;
    text-align: center;
    background: #f960b2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f960b2 0%, #f64398 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f960b2), color-stop(100%, #f64398));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f960b2 0%, #f64398 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f960b2 0%, #f64398 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f960b2 0%, #f64398 100%);
    /* IE10+ */
    background: linear-gradient(top, #f960b2 0%, #f64398 100%);
    /* W3C */
    color: white;
    cursor: pointer;
    margin-bottom: 10px; }
    #ranking header .selected {
      color: black;
      background: white;
      cursor: auto; }
    #ranking header .prev {
      float: left;
      width: 123px; }
    #ranking header .next {
      float: right;
      width: 175px; }
  #ranking .item {
    padding: 10px 15px; }
  #ranking .carousel-wrapper {
    overflow: hidden;
    width: 298px; }
  #ranking ul {
    display: none;
    width: 298px; }
    #ranking ul.first {
      display: block; }

#river-news {
  width: 450px;
  float: right; }
  #river-news article {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #eaeaea;
    position: relative;
    padding-left: 110px; }
    #river-news article header {
      padding-top: 1px;
      margin-bottom: 5px; }
      #river-news article header .category {
        line-height: 14px;
        height: 20px;
        margin-bottom: 5px; }
        #river-news article header .category a {
          text-transform: uppercase;
          color: white;
          background: #ff58b0;
          font-size: 11px;
          padding: 3px 7px; }
      #river-news article header h1 {
        line-height: 25px; }
        #river-news article header h1 a {
          font-family: 'KGSkinnyLatteRegular', Arial;
          text-transform: uppercase;
          color: black;
          font-size: 25px;
          text-decoration: none;
          line-height: 25px; }
          #river-news article header h1 a:hover {
            background: #1dcaff; }
    #river-news article footer {
      margin-top: 5px; }
    #river-news article .author,
    #river-news article .author a {
      font-size: 12px; }
    #river-news article .hmedia {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px; }
      #river-news article .hmedia img {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; }
      #river-news article .hmedia figure {
        margin-bottom: 10px; }
        #river-news article .hmedia figure a {
          display: block;
          width: 100%;
          height: 100%; }
      #river-news article .hmedia .comments {
        background: #f9adce;
        color: white;
        font-size: 11px;
        font-style: italic;
        padding: 2px 5px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        line-height: 14px;
        height: 14px;
        display: block;
        width: 85px; }
    #river-news article .share {
      position: absolute;
      left: 0;
      top: 135px;
      width: 100px; }

#sidebar-left {
  width: 180px;
  float: left;
  height: 300px;
  background: blue; }

#sidebar-right {
  width: 300px;
  float: right;
  height: 500px; }

.banner {
  margin: 0 auto;
  background: grey; }

.container {
  width: 660px;
  float: left; }

footer .only-next .next {
  width: 100%; }

.pager {
  margin-bottom: 30px; }
  .pager .button {
    width: 48%;
    display: block;
    height: 50px; }
    .pager .button a {
      font-size: 35px;
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 50px;
      color: white;
      font-family: 'KGSkinnyLatteRegular', Arial;
      text-transform: uppercase;
      background: #333333;
      /* Old browsers */
      background: -moz-linear-gradient(top, #333333 0%, #1f1f1f 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #1f1f1f));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #333333 0%, #1f1f1f 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #333333 0%, #1f1f1f 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #333333 0%, #1f1f1f 100%);
      /* IE10+ */
      background: linear-gradient(top, #333333 0%, #1f1f1f 100%);
      /* W3C */
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; }
      .pager .button a:hover {
        text-decoration: none;
        background: #1f1f1f;
        /* Old browsers */
        background: -moz-linear-gradient(top, #1f1f1f 0%, #333333 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1f1f1f), color-stop(100%, #333333));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #1f1f1f 0%, #333333 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #1f1f1f 0%, #333333 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #1f1f1f 0%, #333333 100%);
        /* IE10+ */
        background: linear-gradient(top, #1f1f1f 0%, #333333 100%);
        /* W3C */ }
  .pager .previous {
    float: left; }
  .pager .next {
    float: right; }

.share .item {
  display: block; }
.share .fb {
  width: 90px;
  height: 20px;
  position: relative;
  z-index: 50; }
  .share .fb > div > span {
    width: 90px;
    height: 20px;
    display: block;
    overflow: hidden; }
  .share .fb span.fb_edge_comment_widget.fb_iframe_widget {
    width: auto;
    height: auto; }

.sidebar #follow-fb {
  border: solid 1px #eaeaea;
  width: 288px;
  padding: 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  .sidebar #follow-fb header {
    padding: 0 5px; }
    .sidebar #follow-fb header span {
      color: #1dcaff; }
  .sidebar #follow-fb .fb-like-box {
    height: 258px; }
.sidebar .block {
  margin-bottom: 20px; }
  .sidebar .block header,
  .sidebar .block h2 {
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'KGSkinnyLatteRegular', Arial;
    text-transform: uppercase; }

.wrapper {
  width: 990px;
  margin: 0 auto; }
