@import "colors";
@import "css3";

article {
	
	.entry-content,
	.entry-content p {
	  font-size: 16px;
	  line-height: 1.3em;
	  color:$black80;
	}
	
	.entry-content {
	  margin-bottom:15px;
	  
	  img {
	    max-width: 660px;
	    height: auto !important;
	  }
	  
		p {
		  margin:0;
		}
  }
}

form {
	
	.submit {
    @include border_radius(7px);
    color:white;
    font-family: 'KGSkinnyLatteRegular', Arial;
    text-align:center;
    display:block;
    line-height:25px;
    border:none;
    margin:0 auto;
    
    font-size: 20px;
    height: 25px;
    width:100px;
    text-transform: uppercase;    
 
	}
}

footer .only-next .next {
  width: 100%;
}

#banner300x250 {
	height: 250px;
	background: white;
	border:solid 1px $border-color;
	@include border_radius(0px);
}

#container {
	margin-bottom: 20px;
	
	.section {
	  border-bottom:solid 1px $border-color;
	  padding-bottom:5px;
	  margin:5px 0 25px 0;
	  
	  .category {
	    color:white;
	    background: $pink;
	    font-family: 'KGSkinnyLatteRegular', Arial;
	    text-transform: uppercase;
	    padding: 0 5px;
	    font-size: 18px;
	  }
	}
}

#comments {

	.comments-title {
    $h:40px;
    height:$h;
    line-height:$h;
    font-size:25px;
    text-transform:uppercase;     
    font-family: 'KGSkinnyLatteRegular', Arial;
    text-transform: uppercase;  	
	}

}

#comment-form,
.wp-polls-ans {
  .submit {
    @include gradient_cross(#FF58B0,#FF3C95);
    
    &:hover {
      @include gradient_cross(#FF3C95,#FF58B0);
    }
  }
}

#commentlist {
	
	$p:58px;
	
	.bypostauthor {

    background: $lpink;
    color:white;
      
	  .avatar {
	    left:auto;
	    right: 0;
	    border:none;
	  }
	
		.comment-meta,
		.comment-content {
		  padding:0 $p 0 0;
		}
		
		.user-info {
		  float: right;
		}
		
		.comment-meta,
		.time {
			  color: black !important;
    }		
		.edit-link {
		  float: left;
		}
	
	}
	
	.comment {
	  border:solid 1px $border-color;
	  @include border_radius(7px);    
	  margin-bottom:10px;
	  overflow:hidden;
	  padding: 10px;
	  font-size: 14px;
	  min-height: 48px;
  }
  
  .comment-content {
    font-size: 14px;
    padding-left: $p;
    
    p {
      margin:0; 
    }
    
  }
  
  .comment-meta {
    position: relative;
    margin-bottom:10px;
    padding-left: $p;
    height: 17px;
    
    .user a {
      color:black;
    }
    
    .time {
      color:#c2c2c2;
      font-size: 12px;
    }    
  }
  
  .avatar {
    @include border_radius(5px);
    overflow: hidden;
    width: 48px;
    height: 48px;
    position: absolute;
    left:0;
  } 
  
  .edit-link {
    font-size: 14px;
    float: right;
  }
  
  .user-info {display: inline;}
  	
}

#day-tweet {
	
	header,
	.content {
	  padding:0 10px;
	}
	
	header {
	  span {
	    color:#1DCAFF;
	  }
	}
	
	footer {
	  background: #E2E1E2;
	  height: 35px;
	  text-align: center;
	  margin-top: 5px;
	  
	  iframe {
	    margin-top: 8px;
	  }
	}
	
	
	
	.avatar {
	  height: 48px;
	  width: 48px;
	  float:left;
	  margin: 0 5px 0 0;
	}
	
	.content {
	  font-size: 12px;
	  line-height: 16px;
	  
	  p {
	    margin:0;
	  }
	  
    .tweet-hashtag:hover,
    .tweet-hashtag:hover s,
    .tweet-users:hover,
    .tweet-users:hover s,    	  
	  s {
	    text-decoration: none;
	  }
	  
	  a:hover b,
	  .tweet-url:hover {
	    text-decoration: underline;
	  }
	  
	  b {font-weight: normal;}
	  
	}
	
	.user:hover {
	    text-decoration: underline;
	}
	
	
}

#header-975x75 {
	width: 975px;
	height: 75px;
}

#header {
	margin-bottom:10px;
	position:relative;
	
	/*
	&.default {
	  background: url(../images/header-vr.jpg) left top no-repeat;
	}
	*/
	
	#logo {
	  height: 190px;
	  display:block;
	  text-indent:-999em;
	  position: relative;
	  z-index: 50;
	  wiidth:990px;
	}
	
	.header-image {
	  position: absolute;
	  left: 0;
	  top:0;
    width: 990px;
    height: 190px;
    display:block;	  
	}
}

#header-box {
	$h: 25px;
	margin-top: 3px;
	margin-bottom: 3px;
	height: $h;
	
	form {
	  width: 225px;
	  position: relative;
	  float: right;
	}
	
	.fb-like {
	  height: $h;
	  width: 550px;
	  float: left;
	}
	
	.follow-us {
	 float:left;
	 height: $h;
	 margin-right:5px;
	 
	 .title {
	   width: auto;
	   line-height: $h;
	 }
	 
	 .fb {
	   background-position: left -53px;
	   &:hover {
	     background-position: left -79px; 
	   }
	 }
	 
   .tw {
     background-position: -26px -53px;
     &:hover {
       background-position: -26px -79px;
     }
   }
   
   .pi {
     background-position: -78px -53px;
     &:hover {
       background-position: -78px -79px;
     }
   }   
   
   .rss {
     background-position: -52px -53px;
     &:hover {
       background-position: -52px -79px;  
     }
   }   	 
	 
	 li {
	   float:left;
	   width: $h;
	   height: $h;
	   overflow: hidden;
	   margin-right: 5px;
	 }
	 
	 .item {
	   width: 100%;
	   height: 100%;
	   display: block;
	   background-image: $main-sprite;
	   text-indent: -999em;
	 }
	}
}

#header-menu {
	$h: 45px;
	height: $h;
	margin-top:1px;
	overflow: hidden;
	@include gradient_cross(#333,#1f1f1f);
	
	ul {
	  height: $h;
	}
	
	li {
	  height: $h;
	  line-height: $h;
	  float:left;
	  padding:0 12.5px;
	  
	  a {
	    color: $lpink;
	    padding:2px;
	    font-family: 'KGSkinnyLatteRegular', Arial;
	    text-transform:uppercase;
	    font-size:20px;
	    
	    &:hover {
	      text-decoration:none;
	      background: $pink;
	      color:white;
	    }
	  }
	}
}

#featured-carousel {
	/*$h:371px;*/
	$w:660px;
	$h:451px;
	$br:8px;
	width: $w;
	height: $h;
	background: black;
	margin-bottom: 30px;
	@include border_radius($br);
	
	article {
    width: $w;
    height: $h;
    overflow: hidden;
    position: relative;
	}
	
  header {
    position:absolute;
    bottom:0;
    width: $w;
    z-index:50;
    
    a {
      color:white;
      font-family: 'KGSkinnyLatteRegular', Arial;
      text-transform: uppercase;
      font-size: 25px;
      line-height: 25px;
      display:block;
      padding: 4px 15px 4px 15px;
      
      &:hover {
        text-decoration:none;
      }
    }
    
    h1 {
      background: rgba(0,0,0,.4);
      position: relative;
      z-index: 5;
      line-height: 25px;
    }
    
    .dropline {
      height: 54px;
      line-height:1.1em;
      color:white;
      overflow:hidden;
      margin: 13px 15px;
      
	    p {
	      margin:0;
	    }      
    }
  }	
	
	figure {
	  /*$fh: 290px;*/
	  $fh: 371px;
    width: $w;
    height: $fh;
    position:absolute;
    top: 0;
    background-color:white;
    z-index:20;
    
    img {
      width: $w;
      height: $fh;
      display:block;
      @include border_radius_top($br);
    }	  
	}
	
	.carousel-wrapper {
	  width: $w;
	  height: $h;	
	}
}

#follow-fb {
  padding: 5px;
  
  header {
    padding: 0 5px;
    span {
      color:$cyan;
    }
  }
      
  .fb-like-box {
    height: 258px;
  }
}

#footer {
	$h: 47px;
	height:$h;
	border-top:solid 1px #e8e8e8;
	text-align:center;

  a {
    color:$cyan;
    
    &:hover {
      text-decoration:underline;
    }
  }

  li {
    height:$h;
    line-height:$h;
    float:left;
    margin: 0 10px;
  }

	#footer-menu {
	  height:$h;
    margin: 0 auto;
    width: 540px;	  
	}
	
}

#footer-carousel {
	$w:450px;
	$h:251px;
	$br:5px;

  width:$w;
  height:$h;
  background: black;
  float:right;
  position:relative;
  @include border_radius($br);
  
  article {
	  width:$w;
	  height:$h;
	  float:left;
	  position:relative;
	  
	  header {
	    position:absolute;
	    bottom:0;
	    height:42px;
	    background: rgba(0,0,0,.4);
	    z-index: 20;
	    width: 100%;
	    overflow:hidden;
	    @include border_radius_bottom($br);
	    
	    h1 {
        padding: 4px 10px 4px 85px;
        height: 34px;
        line-height: 34px;
	    }
	  }
	  
	  a {
	    color:white;
	    display: block;
      height: 34px;
      line-height: 34px;
      font-size:16px;    
	  }
  }
  
  figure {
    width:$w;
    height:$h;
    position: absolute;
    bottom:0;
    z-index: 10;
    background-color:white;
    
    img {
      @include border_radius($br);
    }
	}
  
  .carousel-header {
    position:absolute;
    left:0;
    bottom:0;
    background: $pink;
    color:white;
    border-right: solid white 1px;
    font-family: 'KGSkinnyLatteRegular', Arial;
    text-transform: uppercase; 
    padding: 4px;
    height:34px;
    z-index:50;
    
      -webkit-border-bottom-left-radius: $br;
      -moz-border-radius-bottomleft: $br;
      border-bottom-left-radius: $br;       
    
    h2 {
	    font-size: 34px;
	    line-height: 34px;
	    height:34px;
    }
  }
  
  .carousel-wrapper {
	  width:$w;
	  height:$h;  
  }
  
}

#pov {
	padding: 15px;

  header {
    margin-bottom:25px;
  }

	a {
	  color:$lpink;
	  font-size: 17px;
	  line-height:17px;
    font-family: 'KGSkinnyLatteRegular', Arial;
    text-transform: uppercase;  
	  
	  &:hover {
	    color:white;
	    background: $pink;
	    text-decoration: none;
	  }
	}
	
	ul li {
	  width: 50%;
	  float:left;
	  margin-bottom: 15px;
	  position: relative;
	}
	
	.has-new{
	  background: url(../images/notif.png) no-repeat;
    display: inline-block;
    height: 18px;
    position: absolute;
    top: -10px;
    width: 21px;	 
    color:white;
    font-size: 12px;
    text-align: center;
    line-height: 13px;
    font-weight: bold;
	}

}

#ranking {
	$w:298px;
	padding-bottom:10px;
	
	header {
	  $wl:123px;
	  color:black;
	  text-align: center;
	  color:white;
	  cursor:pointer;
	  margin-bottom:10px;
	  overflow:hidden;
	  
	  @include gradient_cross(#F960B2, #F64398);
	  @include border_radius_top(5px);
	  
	  .selected {
	    color:black;
	    background: white;
	    cursor:auto;
	    @include reset_box_shadow();
	    /*
	    -moz-box-shadow: none !important;
	    -webkit-box-shadow: none !important;
	    box-shadow: none !important;
	    */
	  }
	  
	  .prev {
	    float:left;
	    width: 123px;
	    @include inset_box_shadow(-2px, -2px, 8px, -4px, black);
	  }
	  .next {
	    float:right;
	    width: $w - $wl;
      @include inset_box_shadow(2px, -2px, 8px, -4px, black);
	  }
	}
	
	.item {
	  padding: 10px 15px;
	}
	
	.carousel-wrapper {
	  overflow: hidden;
	  width:$w;
	}
	
  ul {
    display:none;
    width:$w;
    
    &.first {
      display:block;
    }
  }
	
}

#related {
  padding:5px 5px 10px 5px;
  margin:0;
  
  header {
    padding-left:10px;
    margin-bottom: 5px;
  }
  
  h1 a {
    font-size: 12px;
    color:black;
    display:block;
    padding: 0 5px;
    
    &:hover {
      color:$pink;
    }
  }
  
  figure {
    margin-bottom: 5px;
  }
  
  .content {
    margin-left:1px;
  }
  
  .item {
    width:160px;
    float:left;
    margin-right:2px;
  }
  
  .item-4 {
    margin-right:0;
  }
  
  
}

#river-news {
	width: 450px;
	float:right;
	
	article {
	  padding-bottom: 20px;
	  margin-bottom:20px;
	  border-bottom:solid 1px $border-color;
	  position: relative;
    padding-left: 120px;
    min-height:215px;
	  
	  header {
	    padding-top:1px;
	    margin-bottom:5px;
	    
	    .category {
	      line-height:14px;
	      height:20px;
	      margin-bottom:5px;
	      a {
	        text-transform: uppercase;
	        color:white;
	        background: $pink;
	        font-size: 11px;
	        padding: 3px 7px;
	      }
	    }
	    
	    h1 {
	      line-height:25px;
	      a {
	        font-family: 'KGSkinnyLatteRegular', Arial;
	        text-transform: uppercase;
	        color:black;
	        font-size: 25px;
	        text-decoration:none;
	        line-height:25px;
	        
	        &:hover {
	          background: $cyan;
	          
	        }
	      }
	    }
	  }
	  
	  footer {
	    margin-top:5px;
	  }
	  
	  .author,
	  .author a{
	    font-size: 12px;
	    
	  }
	  
	  .hmedia {
	    position:absolute;
	    left:0;
	    top:0;
	    width: 110px;
	    
	    img {
	      @include border_radius(5px);
	      width: 110px;
	      height: 110px;
	      display:block;
	    }
	    
	    figure {
	      margin-bottom:10px;
	      a {
	        color:$black;
		      display:block;
		      width: 100%;
		      height: 100%;
		      word-wrap:break-word;
	      }
	    }
	    
	    .comments {
				background: $lpink;
				color:white;
				font-size: 11px;
				font-style: italic;
				padding: 2px 5px;
				@include border_radius(3px);
				line-height: 14px;
				height: 14px;
				display: block;
				width: 100px;
				position: relative;
				
				&:after {
          bottom: 100%;
          border: solid 1px white;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-bottom-color: $lpink;
          border-width: 5px;
          left: 15%;
          margin-left: -5px;          
        }
	    }
	    /*
	    .arrow {
	      position: absolute;
	      top:-5px;
	      width: 11px;
	      height: 5px;
	      left: 10px;
	      background: url(../images/arrow.png);
	      display:none;
	    }
	    */
	  }
	  
	  .share {
	    position: absolute;
	    left:0;
	    top: 145px;
	    width: 110px;
	    overflow: hidden;
	  }
	}
	
	.no-results {
	  padding:0;
	  min-height:0;
	  border:0;
	  margin-top:70px;
	  
	  header {
	    padding:0;
	    margin: 5px 0 15px 0;
	  }
	  
	  h1 {
      font-family: 'KGSkinnyLatteRegular', Arial;
      text-transform: uppercase;
      color:black;
      font-size: 30px;
      text-decoration:none;
      line-height:30px;
      text-align:center; 
	  }
	}
}

#poll {
	padding: 10px 10px 5px 10px;
	position: relative;
	
	header {
	  margin-bottom: 5px;
	}
	
	.wp-polls-ul {
	  color:white
	}
	
	.pollbar {
	  @include gradient_cross(#FF58B0,#FF3C95);
	  height: 15px;
	}
	
	.see-results {
	 text-align: center;
	 display: block;
	 margin-top: 3px;
	 font-size: 12px;
	 color:$pink;
	}
}

#sidebar-left {
	width: 180px;
	float:left;
}

#sidebar-right {
	width: 300px;
	float:right;
}

.banner {
	margin: 0 auto;
	background: grey;
}

.block {
  border:solid 1px $border-color;
  @include border_radius(7px);  	
  margin-bottom:20px;
  overflow:hidden;
  
  header,
  h2 {
    $h:40px;
    height:$h;
    line-height:$h;
    font-size:25px;
    text-transform:uppercase;	    
    font-family: 'KGSkinnyLatteRegular', Arial;
    text-transform: uppercase;  
  }
}

.block-black {
  background: $black80;
  @include border_radius(7px);
  
  header {
    height: 20px;
    margin-bottom: 10px;
  }
  
  h2 {
      color: $pink;
      font-size: 20px;
      line-height: 20px;
      height: 20px;
  }
  
  h3 {
    font-family: 'KGSkinnyLatteRegular', Arial;
    color:white;
    font-size: 26px;
    line-height: 33px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
}

.container {
  width: 660px;
  float:left;
}

.new {
  
  header {
    position:relative;
    padding-top:28px;
    margin:15px 0;
    
    h1 {
      font-family: 'KGSkinnyLatteRegular', Arial;
      text-transform: uppercase;
      font-size: 48px;
      line-height: 48px;
      margin: 15px 0;
      
      a {color:black;}
    }
    
    time {
      float:right;
      color:#c2c2c2;
      font-size:14px;
    }
  
    .meta {
      border-bottom: 1px solid #EAEAEA;
      margin: 5px 0 25px;
      padding-bottom: 5px;
      position:absolute;
      top:0;
      width: 100%;
       
    }
      
    .category {
      background: none repeat scroll 0 0 #FF58B0;
      color: white;
      font-family: 'KGSkinnyLatteRegular',Arial;
      font-size: 18px;
      padding: 0 5px;
      text-transform: uppercase;  
    }
  
  }
  
  figure {
    margin-bottom: 15px;
    @include border_radius(7px);
    overflow: hidden;
    width: 660px;
    height: 371px;
  }  
  
  .dropline {
    line-height: 1.3em;
  }
  
  .entry-content {
    p {
      margin-bottom:15px;
    }
  }
  
  .share {
    border: 1px solid #EAEAEA;
    border-left: none;
    border-right: none;
    height: 20px;
    padding: 10px 0;
    margin-bottom:20px;
    
    h3 {
      font-family: 'KGSkinnyLatteRegular',Arial;
      font-size: 28px;
      line-height:24px;
      text-transform: uppercase; 
      color:#c2c2c2;   
    }
    
    .item {
      float:left;
      margin: 0 20px 0 0;;
    }
    
    .title {
      overflow:visible;
    }
    
    .fb {
      width:120px;
    }
  }
  
  .tag-list {
    margin-bottom:15px;
  
    h2 {
      color:black;
      float:left;
      font-size: 16px;
      margin-right: 5px;
    }
    
    ul {
      float:left;
    }
    
    .tag {
      float:left;
      margin: 0 5px 5px 0;
    }
  }


}

.pager {
	margin-bottom:30px;
	
	.button {
	  width: 48%;
	  display: block;
	  height: 50px;
	  
	  a {
	    font-size: 35px;
	    display: block;
	    height: 100%;
	    width: 100%;
	    text-align: center;
	    line-height: 50px;
	    color:white;
	    font-family: 'KGSkinnyLatteRegular', Arial;
	    text-transform: uppercase;
	    
	    @include gradient_cross($black80, #1f1f1f);
	    @include border_radius(6px);
	    
	    &:hover {
	      text-decoration: none;
	      @include gradient_cross(#1f1f1f,$black80);
	    }
	  }
	}
	
	.previous {
	  float:left;
	}
	
	.next {
	  float:right;
	}
}

.search-form {
  position:relative;
	
  .field {
    padding:1px 22px 1px 3px;
    @include border_radius(7px);
    border:solid 2px $pink;
    width: 196px;
  }
  
  .submit {
    width: 19px;
    height: 19px;
    background: $main-sprite no-repeat 0 -105px;
    text-indent: -999em;
    position: absolute;
    right: 3px;
    top:3px;
    padding: 0;
  }
  
  label {
    display:none;
    visibility: hidden;
  }	
	
}

.search-header {
  margin-bottom:15px;

  .title {
    font-family: 'KGSkinnyLatteRegular', Arial;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 26px;
    margin: 0 10px 0 0; 
    float:left;
  }
  
  .search-form {
    width:225px;
    float:left;
  }
}



.share {
	
	.item {
	  display:block;
	  height: 20px;
	  margin-bottom:10px;
	  overflow:hidden;
	}
	
	.fb {
	  width: 110px;
	  position:relative;
	  z-index:50;
	  
	  > div > span {
	    width: 90px;
	    height: 20px;	  
	    display: block;
	    overflow: hidden;
	  }
	  
	  span.fb_edge_comment_widget.fb_iframe_widget{
      width: auto;
      height: auto;
	  } 
	  

  }
	.tw {}
	.gplus {}
	.pt {}
}  

.wrapper {
	width: 990px;
	margin: 0 auto; 
}
